#!/usr/bin/make -f

export DEB_CFLAGS_SET = -O2 -Wall -D_FILE_OFFSET_BITS=64
export DEB_LDFLAGS_SET = 

%:
	dh $@

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(PWD)/debian/iceprog prefix=/usr

override_dh_usrlocal:
	
